.sidebar
{
    padding: 15px 0;
    background: #fff;
    margin-bottom: 30px;
}
.sidebar p 
{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 0.8em;
    line-height: 1.7em;
    color: #818181;
}
.sidebar p.titl 
{
    text-transform:uppercase;
    padding-top: 15px;
    font-weight: bold;
    color: #484848;
    font-size: 1.2em;
}
.cat_bl li a 
{
    display: block;
    padding: 15px;
    padding-left: 25px;
    color: #818181;
    font-size: 1.1em;
    transition: all 0.3s ease-in;
}
.cat_bl li a:hover, .cat_bl li a.current
{
    background-color:#285360;
	color:#fff;
} 

.cat_bl  a .fa
{
    font-size: 1.25em;
    padding-right: 8px;
    transition: all 0.3s ease-in;
}
.cat_bl  a:hover .fa, .cat_bl  a.current .fa
{
    padding-left: 11px;
} 
.sidebar .tags_ul
{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}
.sidebar .tags_ul li 
{
    font-size: 0.9em;
    color: #7e7e7e;
    transition: all 0.3s ease-in;
}
.sidebar .tags_ul li:hover 
{
   background-color:#285360;
	color:#fff;
}
.blog_block
{
    padding: 25px ;
    background: #fff;
    margin-bottom: 30px;
}
.date
{
    height: 56px;
    width: 56px;
    background: #303030;
    color: #fcfcfc;
    text-align: center;
    padding-top: 3px;
    font-weight: bold;
    float: left;
}
.numb
{
    font-size: 22px;
}
.month
{
     font-size: 12px;
}
.inf
{
    border-bottom:1px solid #252525;
    margin-bottom: 30px;
}
.art_header
{
    font-size: 1.2em;
    color: #303030;
    font-weight: bold;
   /* height: 56px;
    line-height: 56px;*/
    margin-bottom: 0;
}
.blog_block img
{
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
    max-width: 100%;
}