@charset "utf-8";
@import url("bootstrap.css");
@import url("font-awesome.min.css");
body{
background-color: #f5f5f5;
}
h1, h2
{

	font-weight:bold;
	color: #C9A920;
}
h1.header{
	margin-top: -25px;
	padding-bottom: 0px;
	margin-left: 60px;
	color: #000;
	font-size:28px;
}
.img{

    background-image: url("../img/glass1.jpg");
	width: 410px;
	height: 310px;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 0px;
	float: left;
}
p{
	display: block;
	margin-top: -25px;
	margin-right: 320px;
	padding: 0px 20px 0px 15px;
	margin-left: 455px;
	font-size: 18px;
	text-align: justify;
}
ul
{
	margin:0;
	padding:0;
	margin-left: -150px;
	list-style:none;
}
a, a:hover
{
	text-decoration:none;
}
.main_nav
{
	padding-top: 5px;
	float:left;
}
.main_nav li
{
	float:left;
	margin-right: 50px;
}
.main_nav a
{
	display:block;
	padding:18px;
	padding-left:28px;
	color:#C9A920;
	font-weight:bold;
	margin-right: -60px;

}
.main_nav a.alt
{
	display:block;
	padding:13px;
	padding-right:23px;
	color:#C9A920;
	font-weight:bold;
	font-size:1.4em;
	margin-right: -28px;
}

ul.main_nav li a:hover
{
	background-color:#285360;
	color:#fff;
	padding-bottom: 20px;
}
ul.main_nav a.alt:hover, .main_nav i:hover, .main_nav a.current{
	padding-bottom: 18px;
}
.header-top
{
	background-color:#0b3b54;
	height:64px;
	margin-bottom: 45px;
}
form{
position: relative;
	border: #0f0f0f;
	display: block;
}
.form{
	position: relative;
	display: block;
margin: 0px 20px 30px 0px;

}
fieldset{
	border: 1.2px solid #0f0f0f;
	text-decoration: none;
	float: right;
	margin-right: 320px;
	margin-left: 10px;
	padding: 20px 15px 20px 15px;
	display: block;
}
label{
    margin-bottom: 0px;
	text-decoration: none;
}
label.Subscribe{
    margin-bottom: 10px;
}
input.text_input{
    margin-top: -10px;
}
.submit{
	padding-top: 15px;
}
@media screen and (max-width:750px)
{
	.main_nav i 
	{
		display:block;
	}
	.main_nav li 
	{
		float:none;
	}
	.header-bottom .container
	{
		position:relative;
	}
	.main_nav
	{
		position:absolute;
		top:0;
		right:0;
		z-index:2;
	}
	.main_nav a 
	{
		background-color:#ededed;
		color:#262626;
		padding-right:80px;
		padding-left:30px;
		display:none;
	}
	.main_nav:hover a
	{
		display:block;
	}
	.main_nav:hover i
	{
		display:none;
	}



























