@charset "utf-8";
.advance_block
{
	text-align:center;
	padding-top:15px;
	padding-bottom:40px;
}
.advance_block span
{
	display:block;
	font-size:1.6em;
	font-weight:bold;
	text-transform:uppercase;
	padding-top:15px;
	padding-bottom:35px;
	
}
.advance_block img
{
	max-height:70px;
}
.advance_block p
{
	padding-top:35px;
	padding-bottom:5px;
	line-height:1.8em;
	color:#555;
}